{% extends 'users/base_users.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Comments</h1>
        <hr class="main-divider" />
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="card mb-4">
                    <div class="card-header small text-center">
                        {{ posts.count }} Posts
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            {% for post in posts %}
                                {% if post.postimage_set.first and post.postimage_set.first.photo %}
                                    <div class="col-xl-3 col-md-4">
                                        <a href="{% url 'community:post_detail' post_id=post.id %}">
                                            <img src="{{ post.postimage_set.first.photo.url }}" alt="" class="p-2 mx-auto img-fluid" width="100%">
                                        </a>
                                    </div>
                                {% endif %}
                            {% empty %}
                                <p>댓글 단 게시물이 없습니다.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}