{% extends 'users/base_users.html' %}

{% block content %}

{% load static %}
<main>
    <div class="container-fluid px-4">
        <div class="text-start text-black mt-3">
            <a class="small text-decoration-none" href="{% url 'users:profile' user_id=user.id %}">
                <div class="text-secondary"><i class="fa-solid fa-arrow-left"></i> Back</div>
            </a>
        </div>
        <hr class="main-divider" />
        <h1 class="mt-4">Followers</h1>
        <hr class="main-divider" />
        <ul class="list-group list-group-flush">
            {% for relationship in relationships %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xl-1 col-md-1">
                        <a href="{% url 'users:profile' user_id=relationship.from_user.id %}">
                            {% if relationship.from_user.profile_image %}
                                <img src="{{ relationship.from_user.profile_image.url }}" width="50" height="50">
                            {% else %}
                                <img src="{% static 'users/profile/none.png' %}" width="50" height="50">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-xl-1 col-md-1">
                        <a class="small text-black stretched-link text-decoration-none" href="{% url 'users:profile' user_id=relationship.from_user.id %}">
                            <span>{{ relationship.from_user.username }}</span>
                            <br>
                            <span class="small text-secondary">{{ relationship.created|date:"y.m.d" }}</span>
                        </a>
                    </div>
                </div>
            </li>
            {% empty %}
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active ms-4">Follower가 없습니다.</li>
            </ol>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}