<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>검색조건</th>
            <th>구분</th>
            <th>구분선택</th>
        </tr>
        <tr>
            <td>포함</td>
            <td>난이도</td>
            <td>
                <input type="radio" id="Beginner"><label for="Beginner">초급</label>
                <input type="radio" id="intermediate"><label for="intermediate">중급</label>
                <input type="radio" id="advanced"><label for="advanced">고급</label>
            </td>
        </tr>
        <tr>
            <td>제외</td>
            <td>지역</td>
            <td>Maria Anders1</td>
        </tr>
        <tr>
            <td>포함</td>
            <td>높이</td>
            <td>Maria Anders2</td>
        </tr>
        <tr>
            <td>포함</td>
            <td>소요시간</td>
            <td>Maria Anders3</td>
        </tr>
        <tr>
            <td>포함</td>
            <td>산이름</td>
            <td>Maria Anders4</td>
        </tr>
    </table>
    
</body>
</html>