<div class="card-body bg-dark text-light">
    <div class="row">
        <div class="col-6" id="post_profile">
            <a class="text-decoration-none" href="{% url 'users:profile' user_id=post.user.id %}">
                {% if post.user.profile_image %}
                    <img src = "{{ post.user.profile_image.url }}" class="rounded-circle" width=50 alt="image">
                {% else %}
                    <img src = "https://blog.kakaocdn.net/dn/bheSYb/btrCNNwtkUv/WBdKVM4VjGlodkWRVcezKK/img.jpg" class="rounded-circle" width=50 alt="none">
                {% endif %}
                <span class="text-white">{{ post.user.username }}</span>
            </a> 
        </div>
        <!-- 팔로우 버튼 -->
        <!-- 글의 작성자가 로그인 한 사용자라면 팔로우 버튼을 표시하지 않음 -->
        <!-- (자기 자신을 팔로우 하는 것을 방지) -->
        {% if user != post.user %}
        <div class="col-6 text-end mt-2">
            <a class="text-decoration-none" href="{% url 'users:follow' user_id=post.user.id%}">
                <button type="submit" class="btn btn-sm text-white" style="background-color:#206c34;">
                    <i class="fa-solid fa-user-plus"></i>
                    <!-- 이 Post의 작성자가 이미 자신의 팔로잉 목록에 포함된 경우 -->
                    {% if post.user in user.following.all %}
                        Unfollow
                    <!-- 이 Post의 작성자를 아직 팔로잉 하지 않은 경우 -->
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </a>
        </div>
        {% endif %}
    </div>
</div>
<div class="card-body">
    <!-- Blog post-->
    <div class="card mb-4">
        <div class="post-images splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for image in post.postimage_set.all %}
                        {% if image.photo %}
                            <li class="splide__slide">
                                <img src="{{ image.photo.url }}" width=800 alt="post image">
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>     
            </div>
        </div>
    </div>
</div>
<div class="card_body">
    {% if user != post.user %}
    <div class="container text-center">
        <div class="row">
            <div class="col d-grid gap-2 d-md-flex justify-content-md-start">
                <!-- 좋아요 버튼 -->
                <form method = "POST" action="{% url 'community:like_post' post_id=post.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        {% if user in post.like_users.all %}
                            style="color: red;"
                        {% endif %} class="btn btn-outline-success btn-sm">
                        <!-- Post의 좋아요를 누른 사용자 수를 가져옴 -->
                        <i class="fa-regular fa-heart"></i> Likes({{ post.like_users.count }})
                    </button>
                </form>
                <!-- 저장 버튼 -->
                <form method = "POST" action="{% url 'community:save_post' post_id=post.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        {% if user in post.save_users.all %}
                            style="color: red;"
                        {% endif %} class="btn btn-outline-success btn-sm">
                        <!-- Post를 저장한 사용자 수를 가져옴 -->
                        <i class="fa-regular fa-bookmark"></i> Saves({{ post.save_users.count }})
                    </button>
                </form>
            </div>
            <div class="col text-end">
                <!-- 신고 버튼 -->
                <form method = "POST" action="{% url 'community:report_post' post_id=post.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        {% if post in user.report_posts.all %}
                            style="color: red;"
                            onclick="alert('{{post.user.username}} 님의 게시글 신고를 취소하였습니다.');"
                        {% else %}
                            onclick="alert('{{post.user.username}} 님의 게시글을 신고하였습니다.');"
                        {% endif %} class="btn btn-outline-success btn-sm">
                        <i class="fa-regular fa-flag"></i> Report
                    </button>
                </form>
            </div>
        </div>
    </div>  
    {% endif %}
</div>
