{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/community_style.css' %}">
    <title>Trending</title>
</head>
<body>
    <div>
        <header>
            <h1>TRENDING</h1>
            <h3> TOP 5 게시글 목록 </h3>
        </header>
        <div class="container">
            <div class="row">
                {% if top5_list %}
                    {% for post in top5_list%}
                        <!-- Post에 연결된 PostImage가 있으며 -->
                        <!-- 연결된 첫 번째 PostImage의 photo가 비어있지 않은 경우 -->
                        <div class="card col-sm-4">
                            <div class="card-header">
                                <a href="{% url 'users:profile' user_id=post.user.id %}">
                                    {% if post.user.profile_image %}
                                        <img src = "{{ post.user.profile_image.url }}" alt="image">
                                    {% endif %}
                                    <span>{{ post.user.username }}</span>
                                </a>
                            </div>
                            {% if post.postimage_set.first and post.postimage_set.first.photo %}
                                <a href="{% url 'community:post_detail' post_id=post.id %}">
                                    <img src="{{ post.postimage_set.first.photo.url }}" class="img-fluid" alt="">
                                </a>
                            {% endif %}
                        </div>
                    {% empty %}
                        <p>검색된 게시물이 없습니다</p>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>