{% extends 'users/base_users.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Edit Profile</h1>
        <hr class="main-divider" />
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <li class="list-group-item">
                <div class="small justify-content-between mt-2 mb-2">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-signup">저장</button>
                    <a href="{% url 'users:profile' user_id=request.user.id %}">취소</a>
                </div>
            </li>
        </form>
    </div>
</main>

{% endblock %}