{% extends 'users/base_users.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <div class="text-start text-black mt-3">
            <a class="small text-decoration-none" href="{% url 'users:mypage' user_id=user.id %}">
                <div class="text-secondary"><i class="fa-solid fa-arrow-left"></i> Back</div>
            </a>
        </div>
        <hr class="main-divider" />
        <h1 class="mt-4">Experienced Mountains</h1>
        <hr class="main-divider" />
        <figure class="text-end text-secondary">
            <a class="small text-decoration-none" href="{% url 'users:add_experienced' %}">
                <div class="text-secondary"><i class="fa-solid fa-plus"></i> Add Mountains</div>
            </a>
        </figure>
        <ul class="list-group list-group-flush">
            {% for mountain in mountains %}
            <li class="list-group-item">
                <div class="d-flex align-items-center justify-content-between mt-2 mb-2">
                    <div>
                        {{ mountain.name }}
                    </div>
                    <div>
                        <form action="{% url 'users:experienced' mountain_id=mountain.id %}?next={{ request.path }}" method="POST">
                            {% csrf_token %}
                            <button type="submit button" class="btn text-white" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color:#206c34;"
                                {% if user in mountain.experienced_users.all %}
                                    style="color: white;"
                                {% endif %}>
                                Cancel 
                            </button>
                        </form>
                    </div>
                </div>
            </li>
            {% empty %}
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active ms-4">등산해 본 산이 없습니다.</li>
                </ol>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}