<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">검색</button>
    </form>
    
    <ul>
        {% for mountain in mountains %}
            <li>
                {{ mountain.name }} - {{ mountain.location }} ({{ mountain.height }}m)
                <form action="{% url 'mountains:experienced' mountain_id=mountain.id %}?next={{ request.path }}" method="POST">
                    {% csrf_token %}
                    <button type="submit"
                        {% if user in mountain.experienced_users.all %}
                            style="color: red;"
                        {% endif %}>
                        Experienced
                    </button>
                </form>
                <form action="{% url 'mountains:wish' mountain_id=mountain.id %}?next={{ request.path }}" method="POST">
                    {% csrf_token %}
                    <button type="submit"
                        {% if user in mountain.wish_users.all %}
                            style="color: red;"
                        {% endif %}>
                        Wish
                    </button>
                </form>
            </li>
        {% empty %}
            <li>검색 결과가 없습니다.</li>
        {% endfor %}
    </ul>
</body>
</html>