.splide__slide img {
    width: 100%;
    height: auto;
  }

  div.card div.card-header a {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  div.card div.card-header img {
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-right: 10px;
  }
  div.card div.card-header span {
    font-weight: bold;
    margin-right: auto;
  }
