{% extends 'mountains/base_mountains.html' %}

{% block content %}

{% load static %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">Best DCustoMountain, Summit</h1>
            <p class="lead fw-normal text-white-50 mb-0">The D is silent</p>
        </div>
    </div>
</header>
<div>
    <img src="{% static 'assets/img/bg-masthead.jpg' %}" class="img-fluid">
</div>

{% endblock %}