{% extends 'cal/base.html' %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
</div>
<div>
	<a class="btn btn-info right" href="{% url 'cal:add_calendar' %}">Add Calendar</a>
</div>
{{ calendar }}
{% for calendar in calendars %} 
    <a href="{% url 'cal:calendar_detail' calendar_id=calendar.id %}">
        <div class="calendar-calendar">
            <p><strong>{{ calendar.mountain.name }}</strong></p>
            <p>{{ calendar.hikedate }}</p>
        </div>
    </a>
{% empty %}
    <p>등록된 일정이 없습니다.</p>
{% endfor %}
{% endblock %}